<mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{album.title}}</mat-card-title>
      <mat-card-subtitle>{{album.anno}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{album.imgFolderUrl}}"  >
    <mat-card-content>
      <p>
        {{album.title}}
      </p>
    </mat-card-content>
    <mat-card-actions class="row justify-content-center align-items-center">
      <button mat-raised-button (click)="this.getAlbumFoto(album)">Foto</button>
      <button mat-raised-button (click)="this.openEditAlbumDialog(album)">Modifica</button>
      <button mat-raised-button (click)="this.openDeleteConfirmDialog(album.id)">Elimina</button>
    </mat-card-actions>
  </mat-card>