<mat-dialog-content>
    <h2 mat-dialog-titile>Messina 14 Admin</h2>
    <div class="dialog-container">
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login" [formControl]="FC_login">                       
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="FC_password"/>
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>          
    </div>
    <div class="err" *ngIf="isErr">
      <span>Nome utente o password non valide</span>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
        <button mat-flat-button color="primary" (click)="ok()">Ok</button>        
</mat-dialog-actions>