<h2 >{{this.al.title}}</h2>
<div class="container">
       
        <div class="item"  *ngFor="let ph of this.foto">
            
            <mat-card appearance="outlined">
               
                <img mat-card-image src="{{ph.thumbPathFile}}"  >
                
                <mat-card-actions class="row  align-items-center">
                  <button mat-raised-button><mat-icon aria-hidden="false" aria-label="Ruota" fontIcon="sync"></mat-icon>Ruota</button>
                  <button mat-raised-button><mat-icon aria-hidden="false" aria-label="Ruota" fontIcon="delete"></mat-icon>Elimina</button>
                </mat-card-actions>
            </mat-card>


        </div>
  </div>