img{
    width: 100%;
 } 
 .container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    
}

.item {
    align-self:auto ;
    flex: 1 1 calc(25% - 10px);
    margin: 5px;
  }

 .item button {
    flex: 1 1 10% ;
    
 }