  
<div class="container">
    <div class="itemHead">
        <span>Album {{this.branca.toUpperCase()}}</span>
        <button mat-raised-button (click)="this.openNewAlbumDialog()"><mat-icon aria-hidden="false" aria-label="Ruota" fontIcon="add" ></mat-icon>Nuovo Album</button> 
        <div class="filer">
            <select name="branca">
                <option value="">---</option>
                <option value="lc">LC</option>
                <option value="eg">EG</option>
                <option value="rs">RS</option>
            </select>
            <select>
                <option value="0">Tutti</option>
                <option value="2027">2027</option>
                <option value="2026">2026</option>
                <option value="2025" selected>2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
            </select>
        </div>
    </div>
    
    <div class="item"  *ngFor="let al of (this.albums$ | async)!">

        <app-album [album]="al" (deleteAlbumEmitter)="deleteAlbumListener(al.id)"  />
    </div>
  </div>



    


     
